
/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx offline font conecty xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* ========================================== Default CSS ================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b6b1b1!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

ul,
li,
ol {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}


:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #37404d;
    --p-teg-color: #464d65;
    --button-color: #3249df;
}

.text-yellow {
    color: var(--button-color) !important;
}

.bg-yellow {
    background-color: var(--button-color) !important;
}

html {
    scroll-behavior: smooth;
}

.mob_divice {
    display: none;
}

/* =================== toggle icon csss ==================*/

.toggle {
    display: none !important;
}

.toggle {
    position: relative;
    width: 45px;
    height: 45px;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid var(--button-color);
}

.toggle span {
    position: absolute;
    width: 35px;
    height: 4px;
    background: var(--button-color);
    border-radius: 10px;
    transition: 0.5s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle span:nth-child(1) {
    transform: translateY(-12px);
    width: 35px;
    left: 5px;
}

.toggle.active span:nth-child(1) {
    width: 40px;
    transform: translateY(0) rotate(45deg);
    transition-delay: 0.125s;

}

.toggle span:nth-child(2) {
    transform: translateY(8px);
    width: 35px;
    left: 5px;
}

.toggle.active span {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translatey(-50%);
    background: var(--white-color);
}

.toggle.active {
    background-color: var(--button-color);
}

.toggle.active span:nth-child(2) {
    width: 40px;
    transform: translateY(0) rotate(315deg);
    transition-delay: 0.25s;
}

.toggle.active span:nth-child(3) {
    transform: translateX(60px);
}

/* ::selection {
    color: red;
    background: yellow;
  } */

/* ========================================== header section CSS ================================= */

.bg_theme {
    background: #FFFFFF;
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.05);
    /* border-bottom: 1px solid #f9bd6eae; */
}

.logo img {
    width: 193px;
}

.main_menu li a {
    display: block;
    padding: 22px 25px;
    color: var(--black-color);
    transition: 0.3s;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.main_menu li a.active,
.main_menu li:hover > a{
    color: var(--button-color);
}
.main_menu li{
    position: relative;
    transform: 0.5s;
}
.sub_menu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.05);
    display: none;
    transition: 0.5s;
    width: 180px;
    border: 1px solid rgba(128, 128, 128, 0.264);
    border-radius: 8px;
}
.main_menu li:hover .sub_menu{
    display: block;
}
.sub_menu li:hover a{
    background-color: var(--button-color);
    color: var(--white-color);
}
.sub_menu li a{
    display: block;
    padding: 12px 25px;
}

.contact_btn {
    border: 1px solid var(--button-color);
    color: var(--button-color);
    border-radius: 50px;
    transition: 0.3s;
}

.contact_btn:hover {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    color: var(--white-color);
}

.mob_right_icon{
    position: absolute;
    right: 10%;
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    animation: fead 1s ease-in-out;
    z-index: 10;
    background-color: var(--white-color);
    border-bottom: 1px solid #DDEDFC;
    box-shadow: 0px 2px 5px rgba(83, 165, 241, 0.25);

}

@keyframes fead {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

#scroll_top {
    color: var(--button-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid var(--button-color);
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: 1s;
    opacity: 0;
    z-index: 1111;
}

#scroll_top i {
    animation: up-down 1s alternate infinite;
}

@keyframes up-down {
    0% {
        transform: translatey(-4px);
    }

    100% {
        transform: translatey(4px);
    }
}


